if SHIELD_WELLUM36_RIGHT

config ZMK_KEYBOARD_NAME
	default "Wellum"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

config ZMK_USB
	default y

endif

if SHIELD_WELLUM36_LEFT || SHIELD_WELLUM36_RIGHT

config ZMK_SPLIT
	default y

config ZMK_BLE
	default y

endif
